@{
    ViewData["Title"] = "Thesaurus";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Thesaurus</h1>
    <label for="lsearch">Search for a word:</label>
    <input type="text" id="word" name="word"><br>
    <button type="button">Search</button><br>
    <button type="button">Get all words</button><br>
</div>
